
/* Main container for the roulette game */
.roulette-container {
  background-color: #1e3f66;
}
/* Ajustar el borde de las fichas apostadas para hace rmas contraste*/
.chip {
  border: 2px dashed rgba(255, 255, 255, 0.3);
}
.chip:hover {
  transform: scale(1.05);
}
.roulette-cell:hover {
  opacity: 0.8;
  transform: scale(0.98);
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .casino-roulette-container {
    max-width: 400px;
    height: 400px;
  } 
  .roulette-table {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .chip {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
  
  .roulette-table-container-first {
    font-size: 0.85rem;
  }
  .pocket-number {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .chip {
    width: 22px;
    height: 22px;
    font-size: 0.8rem;
  }
  .roulette-table-container-first {
    font-size: 0.7rem;
  }
  
}

.chip-selector-body .chip-container {
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
   margin-bottom: 5px; /* Add space between chips if they wrap */
}
.chip-selector-body .chip-container:hover {
   transform: scale(1.05);
}
.chip-selector-body .chip-container.active {
  border-color: #D3A625; /* Gold border for active */
  transform: scale(1.2);
}

.history-number {
  width: 30px; /* Slightly larger */
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.9rem;
}
.history-numbers-body {
  background-color: #42465a;
  color: white;
}
.roulette-table-container {
  width: 100%; /* Make table container take width */
  max-width: 100%; /* Prevent overflow if library table is large */
   overflow-x: auto; /* Add scroll if table is wider than container */
}
.roulette-table-card-body {
   /* Ensure table has space, prevent stretching */
   min-height: 200px; /* Adjust as needed */
}
